footer {
    margin: 0px auto -5px auto;
    height: 212px;
}

h5#card-title-category {
    text-align: center; 
    margin-top: 107px; 
    position: sticky;
}

div.img-grid {
    padding-top: 10px;
}

div#my-card {
    margin: 10px;
}

div.jumbotron {
    position: sticky;
    margin: 10px 60px 0px 60px;
}

nav.navbar-custom {
    background-color: #1e7be6;
}

footer {
    background-color: #1e7be6;
    margin-top: 20px;
}