<div class="py-5 text-center" style="background-image: url('https://static.pingendo.com/cover-bubble-dark.svg'); background-size:cover;">
    <div class="container">
        <div class="row">
            <div class="mx-auto col-md-10 col-10 bg-white p-5 offset-md-1">
                <h2>Redefinição de senha</h2>
                <div class="wrapper">
                    <p>Por favor preencha esse formulário para redefinir sua senha</p>
                    <form action="<?php echo htmlspecialchars($_SERVER['PHP_SELF']); ?>" method="post"> 
                        <div class="form-group">
                            <label>Nova senha</label>
                            <input type="password" name="new_password" class="form-control <?php echo (!empty($new_password_err)) ? 'is-invalid' : ''; ?>" value="<?php echo $new_password; ?>" style="width: 500px;left: 450px;position: sticky;" required>
                            <span class="invalid-feedback"><?php echo $new_password_err; ?></span>
                        </div>
                        <div class="form-group">
                            <label>Confirmar senha</label>
                            <input type="password" name="confirm_password" class="form-control <?php echo (!empty($confirm_password_err)) ? 'is-invalid' : ''; ?>" style="width: 500px;left: 450px;position: sticky;" required>
                            <span class="invalid-feedback"><?php echo $confirm_password_err; ?></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Enviar">
                            <a class="btn btn-link ml-2" href="../index.php">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>